/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

div[class~=language-scheme]:before {
    content:"scheme"
}

div[class~=language-javascript]:before {
    content:"javascript"
}

.badge-primary
  background-color: #8DB6C7 !important

.home .hero img
  max-width 450px!important


.table-title
  text-transform: capitalize
  padding-top: 1em;
  &::first-letter
    font-size: 110%;
  
.custom-block.tip
  border-color: $accentColor



th {
    border-bottom-color: $accentColor ;
    border-bottom-width: medium;
}